<% @scaffold_title = 'Scaffolding Extensions Demo' %>
<ul>
  <li><a href="/manage_employee">Employee</a> - features: belongs_to, habtm, boolean/textarea fields (<a href="/model/sq_employee.rb">model code</a>)</li>
  <li><a href="/manage_group">Group</a> - features: habtm (<a href="/model/sq_group.rb">model code</a>)</li>
  <li><a href="/manage_meeting">Meeting</a> - features: ajax, habtm (<a href="/model/sq_meeting.rb">model code</a>)</li>
  <li><a href="/manage_officer">Officer</a> - features: autocompleting, belongs_to, habtm (<a href="/model/sq_officer.rb">model code</a>)</li>
  <li><a href="/manage_position">Position</a> - features: has_many (<a href="/model/sq_position.rb">model code</a>)</li>
</ul>

<p>This demo is running on <a href="http://ramaze.net">Ramaze</a> using the <a href="http://sequel.rubyforge.org">Sequel</a> ORM and the <a href="http://jquery.com">JQuery</a> javascript library. Scaffolding Extensions supports other web frameworks, ORMs, and javascript libraries, please see the <a href="http://scaffolding-ext.rubyforge.org">RDoc</a>.</p>
