<!DOCTYPE html>
<html>
<head>
  <title>Scaffolding Extensions<%= " - #{@scaffold_title}" if @scaffold_title %></title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <style type="text/css">
    h1, h4 { margin-bottom: 10px; }

    pre {
      background-color: #eee;
      padding: 10px;
      font-size: 11px;
    }
    
    .navbar-inner {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    div.habtm_ajax_remove_associations form { display: inline; }
    
    div.auto_complete {
      width: 350px;
      background: #fff;
    }
    div.auto_complete ul {
      border:1px solid #888;
      margin:0;
      padding:0;
      width:100%;
      list-style-type:none;
    }
    div.auto_complete ul li {
      margin:0;
      padding:3px;
    }
    div.auto_complete ul li.selected { 
      background-color: #ffb; 
    }
    div.auto_complete ul strong.highlight { 
      color: #800; 
      margin:0;
      padding:0;
    }
    
    ul.se_autocomplete {
        position: absolute;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #aaa;
        margin: 0px;
        padding: 0;
        list-style: none;
        font: normal .75em/.75em Verdana, Arial, sans-serif;
        color: #333;
    }
    ul.se_autocomplete li {
      display: block;
      padding: .3em .5em .3em .3em;
      overflow: hidden;
      width: 100%;
    }

    ul.se_autocomplete li.active {
      background-color: #3875d7;
      color: #fff;
    }
  </style>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/admin" class="brand">Company Name</a>

      <ul class="nav">
        <li><a href="/admin">Dashboard</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
<% if @scaffold_heading %>
  <h1><%= @scaffold_heading %></h1>
<% end %>
<% if scaffold_get_flash %>
  <h4><%= scaffold_get_flash %></h4>
<% end %>

<%= @content %>
</div>
</body>
</html>
