<html>
<head>
  <title>Scaffolding Extensions<%= " - #{@scaffold_title}" if @scaffold_title %></title>
  <style type="text/css">
    body { background-color: #fff; color: #333; }

    body, p, ol, ul, td {
      font-family: verdana, arial, helvetica, sans-serif;
      font-size:   13px;
      line-height: 18px;
    }
    
    h4 { font-size: 16px; }

    pre {
      background-color: #eee;
      padding: 10px;
      font-size: 11px;
    }

    a { color: #000; }
    a:visited { color: #666; }
    a:hover { color: #fff; background-color:#000; }
    
    div.habtm_ajax_remove_associations form { display: inline; }
    
    div.auto_complete {
      width: 350px;
      background: #fff;
    }
    div.auto_complete ul {
      border:1px solid #888;
      margin:0;
      padding:0;
      width:100%;
      list-style-type:none;
    }
    div.auto_complete ul li {
      margin:0;
      padding:3px;
    }
    div.auto_complete ul li.selected { 
      background-color: #ffb; 
    }
    div.auto_complete ul strong.highlight { 
      color: #800; 
      margin:0;
      padding:0;
    }
    
    ul.se_autocomplete {
        position: absolute;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #aaa;
        margin: 0px;
        padding: 0;
        list-style: none;
        font: normal .75em/.75em Verdana, Arial, sans-serif;
        color: #333;
    }
    ul.se_autocomplete li {
      display: block;
      padding: .3em .5em .3em .3em;
      overflow: hidden;
      width: 100%;
    }

    ul.se_autocomplete li.active {
      background-color: #3875d7;
      color: #fff;
    }
  </style>
</head>
<body>
<%= "<h1>#{@scaffold_title}</h1>" if @scaffold_title %>
<%= "<h4>#{scaffold_flash[:notice]}</h4>" if scaffold_flash[:notice] %>

<%= @content %>

</body>
</html>
