<% @scaffold_title = "#{plural_name = @scaffold_options[:plural_human_name]} - New" %>
<% @scaffold_heading = @scaffold_options[:singular_human_name] %>

<%= scaffold_tabs %>

<%=scaffold_raw scaffold_model_form('create', @scaffold_class.scaffold_fields(:new)) %>
