<h1>Create new <%= @scaffold_singular_name.gsub('_', ' ') %></h1>

<%= error_messages_for(@scaffold_singular_name) %>
<%= form(@scaffold_singular_name, :action => "create" + @scaffold_suffix) %>
<%= link_to("Manage #{@scaffold_plural_name.humanize}", :action => "manage#{@scaffold_suffix}") if @scaffold_methods.include?(:manage) %>
