<h1>Showing <%= @scaffold_singular_name.humanize.downcase %></h1>

<table id="scaffolded" class="<%= @scaffold_class.scaffold_table_class :show %>">
<thead><tr><th>Attribute</th><th>Value</th></tr></thead>
<tbody>
<% @scaffold_class.scaffold_fields.each do |column| %>
  <tr>
    <td><%= column.humanize %></td>
    <td><%= scaffold_value(@scaffold_singular_object, column) %></td>
  </tr>
<% end %>
</tbody></table>

<%= manage_link %>
